[Unit]
Description=UNS DataHub Mosquitto

[Container]
ContainerName=uns-mosquitto
Image=docker.io/eclipse-mosquitto:latest
Pull=missing
Network=uns-datahub.network
NetworkAlias=mosquitto
PublishPort=1883:1883
PublishPort=9001:9001
Volume={{.MosquittoConfigMount}}
HealthCmd=mosquitto_pub -h localhost -p 1883 -t healthcheck -n
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5
Notify=healthy

[Service]
Restart=always
TimeoutStartSec=90

[Install]
WantedBy={{.InstallTarget}}
